spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        git:
          uri: https://github.com/sambit45/configServerFitnessApp
          default-label: main
          clone-on-start: true

server:
  port: 8888